# Python
__pycache__/
*.pyc
.venv/

# Data
data/
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# Local environment files
.env
*.egg-info
*.spec

# OS files
.DS_Store
Thumbs.db

#application
build/
dist/